.block-title h2 {
    color: #7C2529;
    margin: 0px auto;
    text-transform: uppercase;
    text-align: center;
}

.experiences-bg {
    min-height: 400px;


}

.experience-block {
    justify-content: center;
    background-color: #e6e8e7;
    padding: 30px 20px;
}
.home{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.experiences {
    display: flex;
}

.block-title .under-line {
    width: 123px;
    height: 2px;
    background: #7C2529;
    margin: 0 auto;
    margin-top: 10px;
}

.block-title {
    text-align: center;
    padding-bottom: 25px;
}

.about-us-block h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.about-us-text p {
    margin-top: 0px;
    margin-bottom: 15px;
}

.about-us-block {
    background-color: #e6e8e7;
    padding: 30px 20px;
}

.about-us-text {
    margin-left: 50px;
}

.padding-bottom-home {

}

.intro-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.intro-text p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 5px;
}

.view-details {
    display: block;
    height: 100%;
    outline: 0;
    text-decoration: none;

}

.intro-text h3 {
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 11px;
    height: 14px;
}

.endow {
    background: #e6e8e7;
}

.carousel {

}

/* header*/
#header-slide.carousel-item {
    max-height: 600px;
}

#header-slide.carousel-item img {
    background-size: contain;
    width: inherit;
    height: 600px;


}

.heaader-home {

}

.header-div-main {
    background-color: rgba(124, 37, 41, 0.9);
    width: 100%;
    position: absolute;
    top: 0;
    height: 120px;
    z-index: 99;
    display: flex;
    align-items: flex-end;
}

.language-header:hover span {

    text-decoration: underline;

}

.language-header:hover {
    cursor: pointer;
}

.contact-header-home {
    margin-bottom: 25px;
    max-height: 120px;
    color: white;
}

.header-div-home {
    height: 80px;
    display: flex;
    justify-content: center;
}

.menu-header ul {
    justify-content: center;
}

.lang-pos {
    background: #fff5e8;
    color: #C5C0B0;
    display: none;
    position: absolute;
    padding: 5px 3px;
    width: 75px;
    max-width: 75px;
    list-style: none;

}

.lang-pos:hover {
    color: #7C2529;
    cursor: pointer;
}

.menu-header ul li {
    margin: 10px 20px;

}

/**/
.endow.carousel-item {
    max-height: 400px !important;
    padding: 0px 15px;
}

.img-size-endow {
    height: 400px !important;
    width: 100%;
    background-size: cover;
}

#video-booking-home {
    display: flex;
}

.video-content .content-inner {
    background: url("../img/bg.png");
    color: white;
}

.content-inner h2 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}

.video-content .content-inner {
    min-height: 400px;
    padding: 25px;

}

.video-content .content-inner ul {
    text-align: left;

    list-style-type: circle;
    font-size: 16px;
}

.video-iframe .content-inner {
    min-height: 364px;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video-iframe .content-inner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.booking {
    padding-bottom: 100px !important;
    /* padding-top: 50px!important; */
    background-color: #e6e8e7;
    margin-top: 50px;
}

.video-content-link {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.video-content-link a {
    background: #B9975B;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 25px 8px;
    font-size: 15px;
}

.select-search {
    height: 40px;
    padding: 10px;
}

.ul-search {
    display: flex;
}

.search-booking {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;

    background: #585858;
    padding: 20px;
}

.element-search {
    height: 40px;
    background-color: white;
    margin: 5px;
    color: black;
    display: flex;

}

.check-pos {
    position: absolute;
    background-color: white;
    color: black;
    padding: 5px;
    z-index: 2;
    margin-top: 50px;
    display: none;
}

.select-customize:hover {
    cursor: pointer;
}

.check-pos a {
    color: black !important;

}

#text-check-in, #text-check-out {
    width: 90%;
    margin-top: 5px;

}

.div-text-check {
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

.div-text-check:hover {
    cursor: pointer;

}

.span-check {
    position: absolute;
    right: 0;
    display: flex;
    height: 40px;
    align-items: center;
}

.search-btn-booking {
    width: 100%;
    background: #B9975B;
    color: white;
    border: none;
    height: 40px;
    cursor: pointer;
}

.select-customize {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center
    /* position: relative; */

}

.pos-show-num-people {
    position: absolute;
    z-index: 1;
    background: white;
    color: black;
    padding: 5px;
    text-align: center;
    min-height: 100px;
    display: none;
    margin-top: 40px;
}

.bg-num-people {
    width: 30px;
    height: 22px;
    text-align: center;
    background: #7C2529;
    color: #fff;
    font-weight: bolder;
    display: inline-block;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;

}

#promote {
    height: 100%;
    border: 0px;
    text-indent: 5px;
    font-size: 16px;
}

.item-input-check {
    height: 100%;
    border: none;
    width: inherit;
    text-indent: 5px;
}

.item-input-check:hover {
    cursor: pointer;
}

.div-check-in, .div-check-out {
    max-width: 140px;
}

.btn-peo {
    width: inherit;

    height: 22px;
    text-align: center;
    background: #7C2529;
    color: #fff;
    font-weight: bolder;
    display: inline-block;
    cursor: pointer;

    border: none;
}
.btn-peo:focus{
    outline: none!important;
}

