<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>WEB_SERVER</param-name>
        <param-value>localhost:8084/managementHotel_war_exploded/</param-value>
    </context-param>
    <context-param>
        <param-name>WEB_SERVER_ADMIN</param-name>
        <param-value>localhost:8084/managementHotel_war_exploded/admin/</param-value>
    </context-param>
    <context-param>
        <param-name>FOLDER_SAVE_IMAGE</param-name>
        <param-value>C:\Users\ADMIN\IdeaProjects\SITA\managementHotel\src\main\webapp\temp\</param-value>
    </context-param>
    <context-param>
        <param-name>FOLDER_SERVICE</param-name>
        <param-value>C:\Users\ADMIN\IdeaProjects\SITA\managementHotel\src\main\webapp\img\zoom\service\</param-value>
    </context-param>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>servlet.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>servlet.Admin.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationAdmin</servlet-name>
        <servlet-class>servlet.Admin.AuthenticationAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet.SettingsHR</servlet-name>
        <servlet-class>servlet.Admin.ServletSettingsHR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertEmployee</servlet-name>
        <servlet-class>servlet.Admin.InsertEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeEmployee</servlet-name>
        <servlet-class>servlet.Employee.HomeEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEmployee_V2</servlet-name>
        <servlet-class>servlet.Employee.LoginEmployee_V2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxChangeLanguage</servlet-name>
        <servlet-class>servlet.Ajax.AjaxChangeLanguage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentLoadView</servlet-name>
        <servlet-class>servlet.PaymentLoadView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlet.Admin.LogOut</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AjaxPaymentContinue</servlet-name>
        <servlet-class>servlet.Ajax.AjaxPaymentContinue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPaymentEndPoint</servlet-name>
        <servlet-class>servlet.Ajax.AjaxPaymentEndPoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertHotelManager</servlet-name>
        <servlet-class>servlet.Admin.InsertHotelManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingManagerHotel</servlet-name>
        <servlet-class>servlet.Admin.SettingManagerHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxUploadResourceKindRoom</servlet-name>
        <servlet-class>servlet.Ajax.AjaxUploadResourceKindRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>servlet.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxInsertService</servlet-name>
        <servlet-class>servlet.Ajax.AjaxInsertService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxInsertServiceRoom</servlet-name>
        <servlet-class>servlet.Ajax.AjaxInsertServiceRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPromoteCode</servlet-name>
        <servlet-class>servlet.Ajax.AjaxPromoteCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTransport</servlet-name>
        <servlet-class>servlet.Admin.InsertTransport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxInsertTransport</servlet-name>
        <servlet-class>servlet.Ajax.AjaxInsertTransport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentAutoReturn</servlet-name>
        <servlet-class>servlet.PaymentAutoReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutEmployee</servlet-name>
        <servlet-class>servlet.Employee.LogOutEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListingBooking</servlet-name>
        <servlet-class>servlet.Employee.ListingBooking</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AjaxListingBooking</servlet-name>
        <servlet-class>servlet.Ajax.AjaxListingBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListingHR</servlet-name>
        <servlet-class>servlet.Admin.ListingHR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListingFurniture</servlet-name>
        <servlet-class>servlet.Admin.ListingFurniture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxInsertFurniture</servlet-name>
        <servlet-class>servlet.Ajax.AjaxInsertFurniture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationEmployee</servlet-name>
        <servlet-class>servlet.Employee.InformationEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfoPerson</servlet-name>
        <servlet-class>servlet.Employee.EditInfoPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListingRoom</servlet-name>
        <servlet-class>servlet.Employee.ListingRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListingPromote</servlet-name>
        <servlet-class>servlet.Admin.ListingPromote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsRoom</servlet-name>
        <servlet-class>servlet.Employee.DetailsRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingDirection</servlet-name>
        <servlet-class>servlet.Employee.BookingDirection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaypalAutoReturn</servlet-name>
        <servlet-class>servlet.PaypalAutoReturn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaypalAutoReturn</servlet-name>
        <url-pattern>/PaypalAutoReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingDirection</servlet-name>
        <url-pattern>/BookingDirection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsRoom</servlet-name>
        <url-pattern>/DetailsRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListingPromote</servlet-name>
        <url-pattern>/ListingPromote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListingRoom</servlet-name>
        <url-pattern>/ListingRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfoPerson</servlet-name>
        <url-pattern>/EditInfoPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationEmployee</servlet-name>
        <url-pattern>/InformationEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxInsertFurniture</servlet-name>
        <url-pattern>/AjaxInsertFurniture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListingFurniture</servlet-name>
        <url-pattern>/ListingFurniture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListingHR</servlet-name>
        <url-pattern>/ListingHR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxListingBooking</servlet-name>
        <url-pattern>/AjaxListingBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListingBooking</servlet-name>
        <url-pattern>/ListingBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutEmployee</servlet-name>
        <url-pattern>/LogOutEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentAutoReturn</servlet-name>
        <url-pattern>/PaymentAutoReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxInsertTransport</servlet-name>
        <url-pattern>/AjaxInsertTransport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTransport</servlet-name>
        <url-pattern>/InsertTransport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPromoteCode</servlet-name>
        <url-pattern>/AjaxPromoteCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxInsertServiceRoom</servlet-name>
        <url-pattern>/AjaxInsertServiceRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxInsertService</servlet-name>
        <url-pattern>/AjaxInsertService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/SearchControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxUploadResourceKindRoom</servlet-name>
        <url-pattern>/AjaxUploadResourceKindRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingManagerHotel</servlet-name>
        <url-pattern>/SettingManagerHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertHotelManager</servlet-name>
        <url-pattern>/InsertHotelManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPaymentEndPoint</servlet-name>
        <url-pattern>/AjaxPaymentEndPoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPaymentContinue</servlet-name>
        <url-pattern>/AjaxPaymentContinue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentLoadView</servlet-name>
        <url-pattern>/PaymentLoadView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxChangeLanguage</servlet-name>
        <url-pattern>/AjaxChangeLanguage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEmployee_V2</servlet-name>
        <url-pattern>/LoginEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertEmployee</servlet-name>
        <url-pattern>/InsertEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeEmployee</servlet-name>
        <url-pattern>/HomeEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet.SettingsHR</servlet-name>
        <url-pattern>/HR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationAdmin</servlet-name>
        <url-pattern>/AuthenticationAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>statusEnabledOnHosts</param-name>
            <param-value>localhost, dev.*.myco.com, *.uat.mycom.com</param-value>
        </init-param>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>

    </filter-mapping>
</web-app>
