.item-announcement{
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
}
.footer-item-announcement{
    display: flex;
    justify-content: flex-end;
}
.pos-news{
    position: absolute;
    top: 0;
    right: 50px;
}