.footer-item{
    background-color: white;

    font-size: 16px;
    color: #E6E6E6;
}
.footer-div{
    border:1px solid #ccc;
    padding: 10px;
    color: black!important;
}

.img-item img{
    background-size: cover;
    background-position: center;

}
.item-room{
    min-height: 220px;
    max-width: 300px;
    transition: transform .1s;
    border: 1px solid #ccc;
    padding: 0px;
    margin: 10px;
    box-shadow: 0px 2px 4px 0px #ccc;

}
.item-room:hover{
    transform: scale(1.01);
}
.main-room{
    padding: 25px;
}